/** Remove this file if we don't have styles for the component **/
.base {
  display: inline-block;
  position: relative;

  a {
    border-end-end-radius: 0;
    border-end-start-radius: var(--border-radius-medium);
    border-start-end-radius: 0;
    border-start-start-radius: var(--border-radius-medium);
    color: var(--text-color);
    gap: var(--space-medium);
    padding: var(--space-small) var(--space-medium);
    text-decoration: none;
  }

  a,
  .more {
    background-color: var(--background-color-card);

    &:hover {
      background-color: var(--button-color-hover-background);
    }

    &:focus-visible {
      background-color: var(--button-color-focus-background);
    }

    &:active {
      background-color: var(--button-color-active-background);
    }
  }
}

.card {
  align-items: center;
  background-color: var(--background-color-card);
  border-radius: var(--border-radius-medium);
  display: inline-grid;
  grid-template-columns: min-content 50px;

  &:hover {
    box-shadow: var(--box-shadow-card);
  }
}

.inner {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-right: 0.5rem;
}

.icon {
  display: inline-block;

  svg {
    height: 32px;
    width: 32px;
  }
}

.currentTemperature {
  font-size: var(--font-size-large);
}

.location {
  color: var(--text-color-deemphasized);
  font-size: var(--font-size-small);
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.forecast {
  display: flex;
  gap: 0.25rem;
  margin-block-start: var(--space-xsmall);
}

.forecastTemp {
  display: block;
  font-size: var(--font-size-small);
  margin-inline-end: var(--space-small);
  text-transform: uppercase;
  white-space: nowrap;
}

.forecastSummary {
  display: none;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
  -moz-context-properties: fill;
  cursor: pointer;
  fill: var(--icon-color);
  height: 100%;
  width: 50px;

  svg {
    fill: var(--text-color-base);
  }
}

.action {
  background-color: var(--button-color-hover-background);
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  button {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: var(--space-small) var(--space-medium);
    text-align: left;
    white-space: nowrap;

    &:hover {
      background-color: var(--button-color-active-background);
    }
  }
}
