/* Image above a vertical information flow */
@define-mixin vertical {
  .inner {
    flex-direction: column;
    padding: var(--space-small);
  }

  .meta {
    padding: 0 var(--space-small);
  }

  picture {
    margin-block-end: var(--space-small);

    img {
      aspect-ratio: 16/9;
      border-radius: var(--border-radius-large);
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  h3.title {
    font-size: var(--font-size-root);
    margin-block-start: var(--space-small);
  }
}

/* Image to the side of a vertical content flow */
@define-mixin sideBySide {
  picture {
    margin-block-end: 0;

    img {
      aspect-ratio: initial;
      border-radius: var(--border-radius-large);
      height: 100%;
      max-width: initial;
      object-fit: cover;
      width: 110px;
    }
  }

  .priority {
    left: var(--space-medium);
    right: initial;
  }

  h3.title {
    font-size: var(--font-size-small);
    -webkit-line-clamp: 4;
    margin: 0;
  }

  .inner {
    column-gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--space-small);
  }

  .title {
    font-size: var(--font-size-small);
    -webkit-line-clamp: 4;
    margin-block: 0;
  }

  .meta,
  footer {
    padding: 0;
  }
}

/* Large side by side card that spans 2 rows when in a grid */
@define-mixin hero {
  @mixin sideBySide;

  grid-row: span 2;

  .inner {
    gap: var(--space-large);
    padding: var(--space-large);
  }

  picture {
    height: 100%;
    width: 190px;

    img {
      width: 190px;
    }
  }

  h3.title {
    font-size: var(--font-size-large);
    font-weight: 600;
  }

  .excerpt {
    display: block;
  }
}
