/**
 * -----------------------------------------------------------------
 * Generated file — Here be Dragons ... edits will be overwritten.
 * Update newtab-tokens if you must (try not to) or the SD config for core.
 * NOTE: design-tokens come from upstream and should also not be modified here.
 * -----------------------------------------------------------------
 */

:root {
  /** Button / Background **/
  --button-background-color: color-mix(in srgb, currentcolor 7%, transparent);
  --button-background-color-active: color-mix(in srgb, currentcolor 21%, transparent);
  --button-background-color-destructive: light-dark(var(--color-red-60), var(--color-red-30));
  --button-background-color-destructive-active: light-dark(var(--color-red-80), var(--color-red-10));
  --button-background-color-destructive-disabled: var(--button-background-color-destructive);
  --button-background-color-destructive-hover: light-dark(var(--color-red-70), var(--color-red-20));
  --button-background-color-destructive-selected: var(--button-background-color-destructive-active);
  --button-background-color-disabled: var(--button-background-color);
  --button-background-color-ghost: transparent;
  --button-background-color-ghost-active: var(--button-background-color-active);
  --button-background-color-ghost-disabled: var(--button-background-color-ghost);
  --button-background-color-ghost-hover: var(--button-background-color-hover);
  --button-background-color-ghost-selected: var(--button-background-color-ghost-active);
  --button-background-color-hover: color-mix(in srgb, currentcolor 14%, transparent);
  --button-background-color-primary: var(--color-accent-primary);
  --button-background-color-primary-active: var(--color-accent-primary-active);
  --button-background-color-primary-disabled: var(--button-background-color-primary);
  --button-background-color-primary-hover: var(--color-accent-primary-hover);
  --button-background-color-primary-selected: var(--button-background-color-primary-active);
  --button-background-color-selected: var(--button-background-color-active);

  /** Button / Border **/
  --button-border: var(--border-width) solid var(--button-border-color);
  --button-border-color: transparent;
  --button-border-color-active: var(--button-border-color);
  --button-border-color-destructive: transparent;
  --button-border-color-destructive-active: var(--button-border-color-destructive);
  --button-border-color-destructive-disabled: var(--button-border-color-destructive);
  --button-border-color-destructive-hover: var(--button-border-color-destructive);
  --button-border-color-destructive-selected: var(--button-border-color-destructive-active);
  --button-border-color-disabled: var(--button-border-color);
  --button-border-color-ghost: var(--button-border-color);
  --button-border-color-ghost-active: var(--button-border-color-active);
  --button-border-color-ghost-disabled: var(--button-border-color-disabled);
  --button-border-color-ghost-hover: var(--button-border-color-hover);
  --button-border-color-ghost-selected: var(--button-border-color-ghost-active);
  --button-border-color-hover: var(--button-border-color);
  --button-border-color-primary: transparent;
  --button-border-color-primary-active: var(--button-border-color-primary);
  --button-border-color-primary-disabled: var(--button-border-color-primary);
  --button-border-color-primary-hover: var(--button-border-color-primary);
  --button-border-color-primary-selected: var(--button-border-color-primary-active);
  --button-border-color-selected: var(--button-border-color-active);
  --button-border-radius: var(--border-radius-medium);

  /** Button / Text **/
  --button-text-color: light-dark(var(--color-gray-100), var(--color-gray-05));
  --button-text-color-active: var(--button-text-color);
  --button-text-color-destructive: light-dark(var(--color-white), var(--color-gray-100));
  --button-text-color-destructive-active: var(--button-text-color-destructive);
  --button-text-color-destructive-disabled: var(--button-text-color-destructive);
  --button-text-color-destructive-hover: var(--button-text-color-destructive);
  --button-text-color-destructive-selected: var(--button-text-color-destructive-active);
  --button-text-color-disabled: var(--button-text-color);
  --button-text-color-ghost: inherit;
  --button-text-color-ghost-active: inherit;
  --button-text-color-ghost-disabled: inherit;
  --button-text-color-ghost-hover: inherit;
  --button-text-color-ghost-selected: var(--button-text-color-ghost-active);
  --button-text-color-hover: var(--button-text-color);
  --button-text-color-primary: light-dark(var(--color-white), var(--color-gray-100));
  --button-text-color-primary-active: var(--button-text-color-primary-hover);
  --button-text-color-primary-disabled: var(--button-text-color-primary);
  --button-text-color-primary-hover: var(--button-text-color-primary);
  --button-text-color-primary-selected: var(--button-text-color-primary-active);
  --button-text-color-selected: var(--button-text-color-active);

  /** Button / Font **/
  --button-font-size: var(--font-size-root);
  --button-font-size-small: var(--font-size-small);
  --button-font-weight: var(--font-weight-semibold);

  /** Button / Icon **/
  --button-icon-fill: currentcolor;
  --button-icon-stroke: var(--button-icon-fill);

  /** Button / Size **/
  --button-size-icon: var(--button-min-height);
  --button-size-icon-small: var(--button-min-height-small);

  /** Button / Padding **/
  --button-padding: var(--space-xsmall) var(--space-large);
  --button-padding-icon: 0;

  /** Button / Opacity **/
  --button-opacity-disabled: 0.5;

  /** Button / Min **/
  --button-min-height: var(--size-item-large);
  --button-min-height-small: var(--size-item-medium);

  /** Input / Other **/
  --input-text-min-height: var(--button-min-height);

  /** Checkbox / Other **/
  --checkbox-margin-inline: var(--space-small);
  --checkbox-size: var(--size-item-small);

  /** Link / Other **/
  --link-color: var(--color-accent-primary);
  --link-color-active: var(--color-accent-primary-active);
  --link-color-hover: var(--color-accent-primary-hover);
  --link-color-visited: var(--link-color);
  --link-focus-outline-offset: 1px;

  /** Table / Other **/
  --table-row-background-color: var(--background-color-canvas);
  --table-row-background-color-alternate: light-dark(#f0f0f4, var(--color-gray-80));
}

@media (prefers-contrast: more) {
  :root {
    --button-border-color: var(--button-text-color);
    --button-text-color-ghost-active: var(--button-text-color-active);
    --button-text-color-ghost-hover: var(--button-text-color-hover);
  }
}

@media (forced-colors: active) {
  :root {
    --button-background-color: ButtonFace;
    --button-background-color-hover: SelectedItemText;
    --button-background-color-active: SelectedItemText;
    --button-background-color-disabled: ButtonFace;
    --button-background-color-primary-disabled: var(--button-text-color-disabled);
    --button-background-color-destructive: var(--button-background-color-primary);
    --button-background-color-destructive-active: var(--button-background-color-primary-active);
    --button-background-color-destructive-disabled: var(--button-background-color-primary-disabled);
    --button-background-color-destructive-hover: var(--button-background-color-primary-hover);
    --button-border-color: var(--border-color-interactive);
    --button-border-color-active: var(--border-color-interactive-active);
    --button-border-color-destructive: var(--button-border-color-primary);
    --button-border-color-destructive-active: var(--button-border-color-primary-active);
    --button-border-color-destructive-disabled: var(--button-border-color-primary-disabled);
    --button-border-color-destructive-hover: var(--button-border-color-primary-hover);
    --button-border-color-disabled: var(--border-color-interactive-disabled);
    --button-border-color-hover: var(--border-color-interactive-hover);
    --button-border-color-primary: ButtonFace;
    --button-border-color-primary-active: ButtonText;
    --button-border-color-primary-hover: SelectedItemText;
    --button-opacity-disabled: 1;
    --button-text-color: ButtonText;
    --button-text-color-active: SelectedItem;
    --button-text-color-destructive: var(--button-text-color-primary);
    --button-text-color-destructive-active: var(--button-text-color-primary-active);
    --button-text-color-destructive-disabled: var(--button-text-color-primary-disabled);
    --button-text-color-destructive-hover: var(--button-text-color-primary-hover);
    --button-text-color-disabled: GrayText;
    --button-text-color-ghost-active: var(--button-text-color-active);
    --button-text-color-ghost-hover: var(--button-text-color-hover);
    --button-text-color-hover: SelectedItem;
    --button-text-color-primary: ButtonFace;
    --button-text-color-primary-hover: SelectedItemText;
    --link-color: LinkText;
    --link-color-hover: LinkText;
    --link-color-active: ActiveText;
    --link-color-visited: var(--link-color);
    --table-row-background-color-alternate: var(--background-color-canvas);
  }
}
