.base {
  align-items: center;
  container-type: inline-size;
  display: flex;
  justify-content: center;

  input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-medium);
    height: 2rem;
    padding: 0.5rem;
    width: 80%;
  }
}
