.base {
  align-items: center;
  container-type: inline-size;
  display: flex;
  justify-content: center;

  input {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-medium);
    height: var(--size-item-medium);
    padding: var(--space-small);
    width: 80%;
  }
}
