.base {
  background-color: var(--background-color-card);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-card);
  container-type: inline-size;
  grid-column-end: span 4;
  padding: var(--space-large);

  header {
    align-items: center;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-block-end: var(--space-small);
  }

  button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    display: flex;
  }

  footer {
    margin-block-start: 0.8rem;
    text-align: center;
    text-wrap: pretty;
  }
}

button.add {
  align-items: center;
  background-color: var(--background-color-card-on);
  color: var(--background-color-text-on);
  font-size: var(--font-size-root);
  font-weight: 500;
  gap: var(--space-medium);
  padding: var(--space-medium) var(--space-large);
  width: 100%;
}

.list {
  list-style-type: none;
  margin: var(--space-xxsmall) 0;
  padding: 0;

  input {
    height: 16px;
    margin: 0;
    width: 16px;
  }

  li {
    align-items: center;
    background-color: var(--background-color-card-on);
    border-radius: var(--border-radius-medium);
    color: var(--background-color-text-on);
    display: flex;
    font-size: var(--font-size-root);
    font-weight: 500;
    gap: var(--space-medium);
    padding: var(--space-medium) var(--space-large);
  }
}
