.base {
  --color-will-update: rgb(187 0 255);

  background-color: var(--background-color-canvas);
  border: var(--border-width) solid var(--border-color-card);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-card);
  font-family: system-ui, sans-serif;
  margin: var(--space-xxlarge);
}

.title {
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  padding: var(--space-large);

  h1,
  h2 {
    font-family: system-ui, sans-serif;
    margin: 0;
  }

  h2 {
    font-weight: 300;

    span {
      font-style: italic;
    }
  }
}

.content {
  display: grid;
  gap: var(--space-large);
  grid-template-columns: repeat(2, 1fr);
  padding: var(--space-large);
}
