.base {
  align-items: center;
  container-type: inline-size;
  display: grid;
  gap: var(--space-medium);
  grid-template-columns: auto minmax(0, 1fr) auto;
  margin-bottom: 4rem;
  padding: var(--space-medium) 0;
}
