import style from './style.module.css'

/**
 * {{ pascalCase componentName }}
 * ---
 * Describe the functionality of this component. Do make sure it is properly typed as
 * it will make working with it much easier
 * !! DO NOT MERGE WITH DEFAULT COMMENTS
 */
export function {{ pascalCase componentName }}() {
  return (
    <div className={style.base} data-testid="{{kebabCase componentName}}">
      Welcome to the {{componentName}} component
    </div>
  )
}
