.overflow {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;

  &:hover {
    background-color: var(--background-color-box-info);
  }
}

.panel {
  background-color: var(--background-color-box);
  border: var(--border-width) solid var(--border-color-card);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-popup);
  margin: var(--space-small) 0;
  max-height: 320px;
  min-width: 220px;
  overflow: auto;
  position: absolute;
  z-index: var(--z-index-dropdown);

  button,
  .item {
    align-items: center;
    appearance: none;
    background-color: var(--button-background-color);
    border: 0;
    border-radius: 0;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: var(--space-small) var(--space-medium);
    width: 100%;

    &:hover {
      background: var(--button-background-color-hover);
    }
  }

  hr {
    border: none;
    border-bottom: var(--border-width) solid var(--button-border-color);
    margin: 0;
    padding: 0;
  }

  .label {
    font-size: var(--font-size-small);
    opacity: 0.92;
  }

  .meta {
    color: var(--text-color-deemphasized);
    font-size: var(--font-size-xsmall);
  }

  /* Opens DOWN, aligned LEFT */
  &.panelFromTopLeft {
    left: 0;
    top: calc(100% + var(--space-small));
  }

  /* Opens DOWN, aligned RIGHT */
  &.panelFromTopRight {
    right: 0;
    top: calc(100% + var(--space-small));
  }

  /* Opens UP, aligned LEFT */
  &.panelFromBottomLeft {
    bottom: calc(100% + var(--space-small));
    left: 0;
  }

  /* Opens UP, aligned RIGHT */
  &.panelFromBottomRight {
    bottom: calc(100% + var(--space-small));
    right: 0;
  }
}
