.base {
  gap: var(--space-medium);
  grid-column: 1 / -1;
  margin: var(--space-large);
}

.innercontent {
  & > div {
    background-color: var(--background-color-box);
    border: var(--border-width) solid var(--border-color-card);
    border-radius: var(--border-radius-small);
    margin: var(--space-medium) 0;
    padding: var(--space-medium);
  }
}

.rowHeader {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-medium);
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: var(--space-medium);

  button {
    background-color: var(--background-color-box);
    border: var(--border-width) solid var(--border-color-card);
    border-radius: var(--border-radius-small);
    cursor: pointer;
    padding: var(--space-small);

    &:hover:not(:disabled) {
      border-color: var(--border-color-focus);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

.rowData {
  border-top: 1px solid var(--border-color-card);
  margin-top: var(--space-small);
  padding-top: var(--space-xsmall);
}
