.base {
  margin: 3rem auto 0;
  border-radius: 0.5rem;
  background-color: #ddd;
  width: 40vw;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  code {
    word-wrap: break-word;
  }
}

.content {
  padding: 0.5rem 1rem;
}

.updateIndicator {
  padding: 1rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0 0 0.25rem 0;
  border-color: transparent;
}

.willUpdate {
  border-color: rgb(187, 0, 255);
}
