.base {
  container-type: inline-size;
  grid-column-end: span 4;
  position: relative;

  header {
    align-items: center;
    display: flex;
    font-size: 1.125rem;
    font-weight: 600;
    justify-content: space-between;
    margin-block-end: 0.5333rem;
    width: 100%;
  }

  .inner {
    --ring-width: 70cqi;
    --ring-height: 70cqi;
    align-items: center;
    background-color: var(--background-color-card);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-card);
    column-gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

.timerFace {
  align-items: center;
  display: flex;
  height: var(--ring-height);
  justify-content: center;
  position: relative;
  width: var(--ring-width);
}

.tabs {
  display: flex;
  gap: 0.25rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;

  button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 1 1 0%;
    font-size: 0.875rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.05rem;
    padding: 0.5rem;
    width: auto;

    &:hover {
      background-color: var(--button-color-hover-background);
    }

    &:focus-visible {
      background-color: var(--button-color-focus-background);
    }

    &:active {
      background-color: var(--button-color-active-background);
    }

    &.active {
      background-color: var(--button-color-active-background);
    }

    &:first-of-type {
      border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    }

    &:last-of-type {
      border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    }

    .focusActive &:first-of-type,
    .breakActive &:last-of-type {
      background-color: var(--button-color-active-background);
      color: var(--button-color);
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;

  button {
    align-items: center;
    appearance: none;
    border: none;
    border-radius: 1000em;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;

    &:last-of-type {
      background-color: transparent;
    }

    &:hover {
      background-color: var(--button-color-hover-background);
    }

    &:focus-visible {
      background-color: var(--button-color-focus-background);
    }

    &:active {
      background-color: var(--button-color-active-background);
    }

    &.active {
      background-color: var(--button-color-active-background);
    }

    svg {
      fill: currentcolor;
      height: 16px;
      width: 16px;
    }
  }
}

.timerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
